@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');

/* global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

:root {
    --accent: #606c38;
    --accent-dark: #283618;
    --background: #fefae0;
    --neutral: #aaa;
    --light: #dda15e;
    --dark: #bc6c25;
}

/* main container */

.wrapper {
    width: 100vw;
    min-height: 100vh;
    background-color: var(--background);
    padding: 20vh 0;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

.container {
    width: clamp(310px, 30vw, 470px);
    display: flex;
    flex-direction: column;
}

/* main form and buttons */

.newTaskForm {
    display: flex;
    flex-direction: row;
}

.newTaskInput {
    border-radius: 0.5em;
    padding: 1em 1.5em;
    margin: 0.5em 0.5em;
    border: var(--neutral) 2px solid;
    transition: 0.3s;
    flex: 1;
}

.newTaskInput:focus, .newTaskInput:hover {
    border-color: var(--accent);
}

.mainButton {
    border-radius: 0.5em;
    padding: 1em 1.5em;
    margin: 0.5em 0.5em;
    border: var(--accent) 2px solid;
    transition: 0.3s;
    color: white;
    background-color: var(--accent);
    cursor: pointer;
}

.mainButton:hover {
    border-color: var(--accent-dark);
}

.clearButtons {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.clearButton {
    padding: 0.5em 1.5em;
    flex: 1;
}

/* tasks */

.taskContainer {
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0.5em;
}

.task {
    background-color: var(--light);
    /* border: 2px var(--dark) solid; */
    border-radius: 0.5em;
    padding: 0.7em 0.5em;
    margin: 1vh 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.checkBox {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 1px solid var(--dark);
    margin-right: 0.5em;
    cursor: pointer;
}

.checkBox.checked {
    background-color: var(--dark);
}

.checkBox.checked + p {
    text-decoration: line-through;
}

.content {
    flex: 1 0;
}

.deleteButton {
    background: none;
    border: none;
    color: var(--dark);
    cursor: pointer;
    font-weight: bold;
}